In [1]:
!pip install pandas --q

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Ataullha/CSE-412_Machine-Learning-Lab/refs/heads/main/titanic_train.csv")

In [4]:
# df.head(2)
# df.tail()
# df.sample(5)

In [5]:
# len(df.columns)
# len(df)

In [6]:
df.shape # row, column

(850, 15)

In [7]:
type(df['age'])

pandas.core.series.Series

In [8]:
type(df[['age']])

pandas.core.frame.DataFrame

In [9]:
df['age']

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

0       NaN
1      38.0
2      30.0
3      54.0
4      40.0
       ...
845    55.0
846    58.0
847    24.0
848     3.0
849    52.0
Name: age, Length: 850, dtype: float64

In [10]:
df['age'].isnull().sum()

174

In [11]:
df['age'] = df['age'].fillna(df['age'].mean())

df['age'] = df['age'].fillna(df['age'].median())
df['age'] = df['age'].fillna(df['age'].mode())
df['age'] = df['age'].fillna(df['age'].min())
df['age'] = df['age'].fillna(df['age'].max())

In [12]:
df['age'].isnull().sum()

0

In [13]:
df.columns

Index(['passenger_id', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest',
       'survived'],
      dtype='object')

In [14]:
# df = df.drop("name",axis=1)

df.drop("name",axis=1,inplace=True)

In [15]:
len(df.columns)

14

In [16]:
df.describe()

,passenger_id,pclass,age,sibsp,parch,fare,body,survived
count,850.000000,850.00000,850.000000,850.000000,850.000000,849.000000,73.000000,850.000000
mean,662.816471,2.32000,29.519847,0.522353,0.382353,34.012701,165.821918,0.368235
std,380.751936,0.83853,12.984533,1.112132,0.879511,53.705779,99.068487,0.482610
min,1.000000,1.00000,0.166700,0.000000,0.000000,0.000000,4.000000,0.000000
25%,332.250000,2.00000,22.000000,0.000000,0.000000,7.895800,75.000000,0.000000
50%,676.500000,3.00000,29.519847,0.000000,0.000000,14.108300,166.000000,0.000000
75%,992.250000,3.00000,34.875000,1.000000,0.000000,31.000000,260.000000,1.000000
max,1307.000000,3.00000,80.000000,8.000000,9.000000,512.329200,328.000000,1.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  850 non-null    int64
 1   pclass        850 non-null    int64
 2   sex           850 non-null    object
 3   age           850 non-null    float64
 4   sibsp         850 non-null    int64
 5   parch         850 non-null    int64
 6   ticket        850 non-null    object
 7   fare          849 non-null    float64
 8   cabin         191 non-null    object
 9   embarked      849 non-null    object
 10  boat          308 non-null    object
 11  body          73 non-null     float64
 12  home.dest     464 non-null    object
 13  survived      850 non-null    int64
dtypes: float64(3), int64(5), object(6)
memory usage: 93.1+ KB

In [18]:
df['age'] = (df['age'] - df['age'].min())/(df['age'].max()-df['age'].min())

In [19]:
sum(df['age']>=1)

1

In [20]:
df[df['age']==df['age'].max()]['cabin']

177    A23
Name: cabin, dtype: object

In [21]:
df['age'] = (df['age'] - df['age'].mean())/(df['age'].std())

In [22]:
# df['age'].std()
# df['age'].mean()

In [23]:
# Encoding ...

In [24]:
# !pip install scikit-learn

In [25]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [26]:
# le = LabelEncoder()
# oe = OrdinalEncoder()
# df['sex'] = le.fit_transform(df['sex'])
# df['sex'] = oe.fit_transform(df[['sex']])

In [27]:
# df['sex']

In [28]:
# df['sex']

In [29]:
# from sklearn.preprocessing import OneHotEncoder

# ohe = OneHotEncoder()
# ohe.fit_transform(df[['sex']]).toarray()
# ohe.get_feature_names_out()
# ohe_df = pd.DataFrame(
#     ohe.fit_transform(df[['sex']]).toarray(),
#     columns=ohe.get_feature_names_out()
# )
# df = pd.concat([df,ohe_df],axis=1)
# df

In [30]:
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,passenger_id,pclass,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1216,3,female,6.826027e-16,0,0,335432,7.7333,NaN,Q,13,NaN,NaN,1
1,699,3,male,6.530965e-01,0,0,315089,8.6625,NaN,S,NaN,NaN,Croatia,0
2,1267,3,female,3.697883e-02,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN,0
3,449,2,female,1.885332e+00,1,3,29105,23.0000,NaN,S,4,NaN,"Cornwall / Akron, OH",1
4,576,2,male,8.071259e-01,0,0,28221,13.0000,NaN,S,NaN,NaN,"Barre, Co Washington, VT",0

In [31]:
df = df[['pclass','sex']]

In [32]:
df

     pclass     sex
0         3  female
1         3    male
2         3  female
3         2  female
4         2    male
..      ...     ...
845       1    male
846       1    male
847       2  female
848       3  female
849       2    male

[850 rows x 2 columns]

In [33]:
df = pd.get_dummies(df,dtype=int)

In [34]:
df

     pclass  sex_female  sex_male
0         3           1         0
1         3           0         1
2         3           1         0
3         2           1         0
4         2           0         1
..      ...         ...       ...
845       1           0         1
846       1           0         1
847       2           1         0
848       3           1         0
849       2           0         1

[850 rows x 3 columns]

In [35]:
1

1